.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header{
  width: 100vw;
  height: 5rem;
  background-color: black;
}

.navbar{
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100vw;
  height: 2.5rem;
  background-color: orange;
}

.navbar > button{
  height: 2rem;
  width: 13rem;
  background-color: orange;
  border-width: 0 0.1rem 0 0.1rem;
  border-left-color: black;
  border-right-color: black;
  margin: 0.3rem 0.5rem 0.1rem 0.3rem;
  font-size: 1.2rem;
}

.navbar > button:hover {
  color:white;
  background-color: darkorange;
  transition:background-color 1s ease 0s;
}

.navbar > button:disabled {
  background-color: white;
  color: black;
}

/* Style homepage */
.allMovies{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-card{
  display: grid; 
  grid-template-columns: 0.5fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  grid-template-areas: 
    "movie-poster movie-details-container Schedules"; 
  width: 55rem;
  height: 19rem;
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
  border-color: black;
  border-style: solid;
  border-width: 0.5rem;
}

.Schedules{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  grid-area: Schedules; 
}

.start-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  margin: 1rem 0 1rem 0;
  width: 5rem;
  height: 3rem;
  border-radius: 0.4rem;
  font-weight: 300;
  font-size: large;
}

.movie-poster {
  justify-self: center; 
  align-self: center; 
  grid-area: movie-poster; 
  height: 17rem;
}

.poster-frame{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 15rem;
}
.movie-details-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2rem;
  grid-area: movie-details-container; 
  text-align: start;
  width: 24rem;
}

.movie-title{
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.movie-title:hover{
  color:orange;
  cursor: pointer;
}

.movie-minor-details{
  font-size: 1.2rem;
  font-style: normal;
}

.movie-minor-details:hover{
  cursor: default;
}

.movie-language:hover{
  cursor: default;
}

.shortplot{
  text-align: justify;
}

.shortplot:hover{
  cursor: default;
}

/* Style Selected Movie page */
.trailer{
  height: 36rem;
}

.trailer-video {
  height: 36rem;
  width: 64rem;
}

.movie-collection-card{
  display: flex;
  flex-direction: row;
}


.movie-detail-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
}

.movie-poster-onselect{
  height: 26rem;
}

.movie-genres, 
.movie-director, 
.movie-date-container,
.movie-writer,
.movie-actors,
.movie-language,
.movie-rated,
.movie-imdbrating{
  display: flex;
  flex-direction: row;
  width: 25rem;
  justify-content: space-between;
}