.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header{
  width: 100vw;
  height: 5rem;
  background-color: black;
}

.navbar{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 2.5rem;
  background-color: orange;
}

.navbar > button{
  height: 2.3rem;
  width: 13rem;
  background-color: orange;
  border-width: 0 0.1rem 0 0.1rem;
  border-left-color: black;
  border-right-color: black;
  margin: 0.3rem 0.5rem 0.1rem 0.3rem;
  font-size: 1.2rem;
}

.navbar > button:hover {
  color:white;
  background-color: darkorange;
  transition:background-color 1s ease 0s;
}

.navbar > button:disabled {
  background-color: white;
  color: black;
}

.filter-container{ 
  width: 100vw;
  background-color: lightgrey;
  height: 1.8rem;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.filter-container > label { 
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
}

#filter-date{
  height: 1.6rem;
  font-style: italic;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin: 0.1rem 0.3rem 0.1rem 0.3rem;
}

.filter-container > button { 
  font-size: 1.3rem;
  font-style: italic;
  border-radius: 0.5rem;
  margin: 0.1rem 0.3rem 0.1rem 0.3rem;
  background-color: orange;
}

.filter-container > button:hover { 
  background-color: rgb(255, 123, 0);
  transition:background-color 1s ease 0s;
}

/* Style homepage */
.allMovies{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allmovies-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie-card{
  display: grid; 
  background-color: white;
  grid-template-columns: 0.5fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  grid-template-areas: 
    "movie-poster movie-details-container Schedules"; 
  width: 55rem;
  height: 19rem;
  margin: 0.4rem 0.2rem 0.4rem 0.2rem;
  border-color: black;
  border-style: solid;
  border-width: 0.3rem;
  border-radius: 1rem;
  box-shadow: 17px 14px 24px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 17px 14px 24px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 17px 14px 24px -6px rgba(0,0,0,0.75);
}

.movie-card:hover {
  background-color: rgb(170, 170, 170);
  border-color: orange;
  transition:background-color 0.6s ease 0s;
  transition:border-color 0.6s ease 0s;
  box-shadow: 17px 14px 24px -6px rgba(19, 19, 19, 0.75);
  -webkit-box-shadow: 17px 14px 24px -6px rgba(19, 19, 19, 0.75);
  -moz-box-shadow: 17px 14px 24px -6px rgba(19, 19, 19, 0.75);
}

.Schedules{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  grid-area: Schedules; 
}

.start-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  margin: 1rem 0 1rem 0;
  width: 5rem;
  height: 3rem;
  border-radius: 0.4rem;
  font-weight: 300;
  font-size: large;
  box-shadow: 5px 5px 24px -8px orange;
  -webkit-box-shadow: 5px 5px 24px -8px orange;
  -moz-box-shadow: 5px 5px 24px -8px orange;
}


.movie-poster {
  justify-self: center; 
  align-self: center; 
  grid-area: movie-poster; 
  height: 17rem;
  border-radius: 0.5rem;
  box-shadow: 6px 6px 24px -6px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 6px 24px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 24px -6px rgba(0,0,0,0.75);
}

.poster-frame{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 15rem;
}
.movie-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  grid-area: movie-details-container; 
  text-align: start;
  width: 24rem;
}

.schedule-new-movie{
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.schedule-new-movie > div {
  margin: 1rem 0 1rem 0;
}

.schedule-new-movie > div > input {
  height: 2rem;
  border-radius: 0.5rem;
  margin: 0 0.5rem 0 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.schedule-new-movie > button {
  height: 2.9rem;
  width: 7rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: bold;
}

.trailer {
  margin: 0.5rem 0 2rem 0;
}

.movie-collection-card{
  width: 60rem;
  margin-bottom: 2rem;
}

.movie-detail-container{
  width: 30rem;
  margin-right: 10rem;
}


.movie-title{
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

.movie-title:hover{
  color:orange;
  cursor: pointer;
  transition:color 0.5s ease 0s;
}

.movie-minor-details{
  font-size: 1.2rem;
  font-style: normal;
}

.movie-minor-details:hover{
  cursor: default;
}

.movie-language:hover{
  cursor: default;
}

.shortplot{
  text-align: justify;
  overflow: hidden;
}

.shortplot:hover{
  cursor: default;
}

/* Style Selected Movie page */
.trailer{
  height: 36rem;
}

.trailer-video {
  height: 36rem;
  width: 64rem;
}

.movie-collection-card{
  display: flex;
  flex-direction: row;
}


.movie-detail-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  text-align: justify;
}

.movie-fullplot{
  width: 25rem;
  margin-bottom: 0.3rem;
}

.movie-poster-onselect{
  height: 26rem;
}

.movie-genres, 
.movie-director, 
.movie-date-container,
.movie-writer,
.movie-actors,
.movie-language,
.movie-rated,
.movie-imdbrating{
  display: flex;
  flex-direction: row;
  width: 25rem;
  justify-content: space-between;
}

.movie-detail-title{
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 1rem;
}

.movie-date-container{
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.setter-container{
  display: flex;
  align-items: center;
}

.ticket-order{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 13rem;
  font-size: 1rem;
  font-weight: bold;
}

.ticket-order > button {
  font-size: 1.3rem;
  font-style: italic;
  border-radius: 0.5rem;
  margin: 0.5rem 0.3rem 0.5rem 0.3rem;
  background-color: orange;
  width: 5rem;
}

.ticket-order > input {
  height: 2rem;
  border-radius: 0.5rem;
  margin: 0 0.5rem 0 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

